<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>
    </div>
    <strong>Copyright &copy;2012 - @DateTime.Now.ToString("yyyy") Tovuti Group Fuel Card Solution </a>.</strong> All rights
    reserved.
</footer>